* {
	margin: 0px auto;
	padding: 0px;
	font-family: Helvetica;
}

body {
	font-family: Helvetica;
	font-size: 13px;
	background: #f6f6f6;
}

ul {
	list-style: none;
}

input[type="submit"]:active {
	box-shadow: inset 0px 0px 3px black;

}

.wrapper {
	width: 100%;
}

.front-img {
	height: 1px;
}

.front-img img {
	width: 100%;
	position: fixed;
	z-index: -1;
	height: 120%;
	margin-top: -20px;
}


.header-wrapper {
	width: 100%;
	background: white;
	position: fixed;
	top: 0;
	z-index: 10000;
}

.nav-container {
	width: 95%;
	margin: 0px auto;
}

.nav {
	width: 100%;
	height: 50px;
}

.nav ul li {
	line-height: 50px;
	float: left;
	margin-right: 0px;
	padding: 0px 10px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.nav ul li a {
	color: #333;
	text-decoration: none;
}

.nav ul li .fa-twitter {
	margin-right: 4px;
	color: #5ab2f5;
	font-size: 22px;
	position: relative;
	top: 2px;
}

.nav-left {
	width: 50%;
	float: left;
}

.nav-right {
	width: 50%;
	float: right;
}

.nav-right ul {
	float: right;
}


.inner-wrapper {
	width: 100%;
	margin-top: 55px;
}

.main-container {
	width: 70%;
	overflow: auto;
	margin-top: 70px;
}

.content-left {
	width: 50%;
	float: left;
	font-size: 20px;
	color: #FFFFFF;
}

.content-right {
	width: 40%;
	float: right;
}

.login-wrapper {
	width: 100%;
	background: #fff;
	padding: 10px;
	border: 1px solid #e7e7e7;
	box-shadow: 0px 0px 10px #ccc;
	margin: 10px;
}

.login-wrapper {
	width: 70%;
	float: left;
}

.login-wrapper ul li input[type="text"] {
	width: 92%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 8px auto;
	transition: all 100ms ease-in;
}


.login-wrapper ul li input[type="password"] {
	width: 55%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 8px auto;
	transition: all 100ms ease-in;
}

.login-wrapper ul li input[type="submit"] {
	margin-left: 10px;
	border: 1px solid #333;
	border-radius: 3px;
	padding: 4px 15px;
	background: #0a88e9;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.login-wrapper ul li input[type="text"]:focus,
.login-wrapper ul li input[type="password"]:focus {
	box-shadow: 0px 0px 9px 0px #5ab2f580;
}

.span-fp-error{
	color: red;
	font-weight:bold;
}

/* btn */

.delete-btn {
	float: right;
	padding: 10px;
	border-radius: 50px;
	color: white;
	background-color: black;
	cursor: pointer;
}

.top {
	float: right;
	margin-top: 30px;
	padding: 10px;
	border-radius: 50px;
	color: white;
	background-color: green;
	cursor: pointer;
	border: 1px solid green;
}

.top a {
	color: white;
	text-decoration: none;
}

/* btn end */

/*-------------------------LOGIN WRAPPPER ENDS-----------------------*/

/*-------------------------Sign UP WRAPPPER START-----------------------*/

.signup-wrapper {
	width: 70%;
	float: left;
	margin: 30px 0px;
	background: #fff;
	padding: 10px;
	border: 1px solid #e7e7e7;
	box-shadow: 0px 0px 10px #ccc;
	margin: 10px;
	color: red;
	font-weight: bold;
}

.signup-div {
	width: 100%;
	float: left;
}

.signup-div ul li input[type="email"],
.signup-div ul li input[type="password"],
.signup-div ul li input[type="text"] {
	width: 95%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 3px auto;
	transition: all 100ms ease-in;
}

.signup-div ul li input[type="email"]:focus,
.signup-div ul li input[type="password"]:focus,
.signup-div ul li input[type="text"]:focus {
	box-shadow: 0px 0px 9px 0px #5ab2f580;
}

.signup-wrapper h3 {
	font-weight: normal;
	margin: 10px 0px;
	color: #929292;
}

.signup-div ul li input[type="submit"] {
	background: #fcd792;
	border: 1px solid orange;
	padding: 4px 10px;
	cursor: pointer;
	float: right;
	font-weight: bold;
	border-radius: 4px;
	margin-top: 4px;
}

.signup-div ul li input[type="submit"]:hover {
	background: #ffa80699;
}


.nav .nav-left ul li i {
	margin-right: 4px;
	color: #828a92;
	font-size: 22px;
	position: relative;
	top: 2px;
}

.nav .drop-wrap {
	position: absolute;
	background: #fff;
	top: 50px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
	display: none;
}

input[type="checkbox"]#drop-wrap1 {
	display: none;
}

.drop-label {
	background: none !important;
	border: none !important;
}

input[type="checkbox"]#drop-wrap1:checked~.drop-wrap {
	display: block
}

.nav-click.input[type="check-box"]~.drop-wrap {
	display: block;
}

.nav .drop-inner ul li a {
	display: inline-block;
}

.av ul li.hover:hover>ul {
	display: block;
}

.nav-right {
	height: 50px;
}

.nav .nav-right ul ul li:hover {
	background: #65ba54;

}

.nav .nav-right ul ul li:hover>a {
	color: white;
}

.nav .nav-right ul li img {
	width: 40px;
	margin-top: 5px;
	height: 40px;
}

.nav ul ul li {
	display: block;
	float: none;
	line-height: 30px;
	margin: 10px 0px;
}

.nav .nav-left ul li:hover {
	box-shadow: inset 0px -4px 0px #6cc854;
}

.nav .nav-left ul li:hover a .fa,
.nav .nav-left ul li:hover a {
	color: #6cc854;
}

.nav .nav-right ul li input[type="text"] {
	padding: 5px 20px 5px 5px;
	border: 1px solid #ccc;
	background: #f0f0f0;
	border-radius: 15px;
}

.nav .nav-right ul li label {
	background: #5ab2f5;
	border: 1px solid #5ab2f5;
	padding: 8px 20px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}

.nav .nav-right ul li input[type="submit"]:hover {
	background: #2492e6;
}

.nav .nav-right ul li .fa {
	left: -20px;
	position: relative;
}

/*BODY SECTION*/


.in-center {
	width: 60%;
	min-height: 1000px;
	margin-top: 10%;
}

.in-right {
	width: 25%;
	min-height: 1000px;
	float: right;
}


/*inner Center*/
.in-center {}

.in-center-wrap {}

input.allInput {
	width: 95%;
}

.backgroundColor h2 {
	margin-top: 20px;
}

.backgroundColor li {
	margin-top: 10px;
}

.post-wrap {
	width: 95%;
	height: 880px;
	background: rgba(141, 255, 0, 0.07);
	border-radius: 4px;
	border: 1px solid #d5d8d4;
	padding: 30px;
}

.backgroundColor {
	background-color: white;
	margin-top: 30px;
	padding: 30px 30px 60px 30px;
}

.backgroundColor img {
	width: 100%;
}

.post-inner {
	overflow: auto;
}

.post-inner h2 {
	margin-top: 20px;
}

.post-body {
	width: 82%;
	float: left;
	margin: 15px 0px;
}

.post-body textarea {
	resize: none;
	overflow: hidden;
	width: 115%;
	height: 280px;
	border: 1px solid #b3dab9;
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
}

.post-footer {
	width: 85%;
	float: right;
	overflow: hidden;
}

.t-fo-left {
	width: 50%;
	float: left;
}

.t-fo-left li {
	width: 300px;

}

.t-fo-left label {
	font-size: 25px;
	color: #83b476;
	text-decoration: none;
	white-space: nowrap;
}

.t-fo-left input[type="file"] {
	display: none;
}

.t-fo-left a:hover {
	color: #64d547;
}

.t-fo-right {
	width: 25%;
	float: right;
	color: #727171;
}

.t-fo-right input[type="submit"] {
	padding: 5px 10px;
	font-weight: bold;
	color: #fff;
	background: #83b476;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: pointer;
}

.t-fo-right #postComment {
	padding: 5px 10px;
	font-weight: bold;
	color: #fff;
	background: #83b476;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: pointer;
}

.fileDescription{
	font-size: 20px;
    color: #83b476
}


/*popup delete ****************************************************************/


.wrap5{
	background-color: rgba(0, 0, 0, 0.34);
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index: 10000;
	overflow-y: scroll;
	display: block;
}

.post-popup-body-wrap{
	width: 550px;
	height: auto;
	margin: 0px auto;
	top: 25%;
	position: relative;
	background:#fff;
	border-radius: 5px;
	border: 1px solid #9E9E9E;
	overflow: hidden;

}

.post-popup-heading h3{
    font-weight: normal;
    font-size: 16px;
    color: #7d929c;
}

.post-popup-heading{
	text-align: center;
	padding: 7px;
	border-bottom: 1px solid #dde2e6;
}
.post-popup-heading button{
	border: none;
	background: none;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
.post-popup-heading span{
	float: right;
	position: relative;
	top: -18px;
	right: 7px;
	font-size: 14px;
	cursor:pointer;
}

.post-popup-heading span i{
	color: #afb1b3;
}

.post-popup-heading button {
	border: none;
	background: none;
	margin: 0px;
	padding:0px;
	cursor:pointer;
}

.post-popup-input{
	background: rgba(127, 196, 0, 0.18);
	padding: 10px;
}
.post-popup-input-inner{
	width:99%;
}
.post-popup-input-inner input[type="text"]{
	width: 96%;
	padding: 8px 10px;
	border-radius: 0px;
	border: 1px solid #dedede;
}
.post-popup-inner-body{

}

.post-popup-inner-body-inner{

}
.post-popup-comment-wrap{
	width: 95%;
	margin: 10px auto;
	overflow: hidden;
}
.post-popup-comment-head{
	overflow: hidden;
	float: left;
}
.post-popup-comment-head img{
	width: 45px;
	height: 45px;
	border-radius: 5px;
}
.post-popup-comment-headline{
	float: left
}

.post-popup-comment-headline a{
	color:#333;
	text-decoration: none;
	font-weight: bold;
}
.post-popup-comment-headline span{
	color: #aeaeae;
	font-weight: normal;
	font-size: 12px;
}
.post-popup-comment-body{
	float: left;
	overflow: hidden;
	color: #424242;
	font-size: 14px;
}
.post-popup-comment-right-wrap{
	width: 90%;
	overflow: hidden;
	float: left;
	margin: 0px 0px 0px 5px;
}
.post-popup-footer-right{
	float: right;
}
.post-popup-footer-right button[type="submit"]{
	background: #3a8efb;
	padding: 8px 10px;
	border: 1px solid #E7E7E7;
	color: #fff;
	font-weight: bold;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.post-popup-footer-right button[type="submit"]:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #499bea 0%,#207ce5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}
.post-popup-footer-right button[type="submit"]:active{
	background: #3a8efb;
	box-shadow: inset 0px 0px 3px black;
}
.post-popup-footer-right button i{
	margin: 0px 3px 0px 0px;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 1px;
}

.signup-div ul li {
	list-style: none;
	overflow: hidden;
}


